body {
    background: black;
}

#cngif:hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}

.txt {
    padding: 10%;
    color: aliceblue;
    font-size: larger;
}

.grpimage {
    margin-left: 10%;
}

.grpimage:hover {
    animation: mymove 0.2s;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
